---
export interface Props {
  dataTitle: string
  dataPath: string
  title: string
  railColor?: string
  fillColor?: string
  strokeWidth?: number
}

const {
  dataTitle,
  dataPath,
  title,
  railColor = '#a3a3a3',
  fillColor = '#14b8a6',
  strokeWidth = 4,
} = Astro.props

// function invertHex(hex: string) {
//   const trimedHex = hex.replace('#', '')
//   const num = Number(`0x${trimedHex}`) ^ 0xffffff
//   const result = num.toString(16).padStart(6, '0')

//   return `#${result}`
// }
---

<div class="relative w-8 md:w-12 aspect-square">
  <!-- Inner Text -->
  <div
    data-title={dataTitle}
    class="absolute inset-0 flex justify-center items-center text-sm md:text-lg"
    style={{ color: fillColor }}
  >
    {title}
  </div>
  <!-- Visualization Ring -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 48 48"
    class="absolute inset-0"
  >
    <!-- Rail -->
    <g class="opacity-30">
      <path
        fill="none"
        stroke={railColor}
        stroke-width={strokeWidth}
        d="M 24,24 m 0,-22 a 22,22 0 1 1 0,44 a 22,22 0 1 1 0,-44"></path>
    </g>
    <!-- Fill -->
    <g>
      <path
        data-progress="fill"
        data-path={dataPath}
        fill="none"
        stroke={fillColor}
        stroke-width={strokeWidth}
        d="M 24,24 m 0,-22 a 22,22 0 1 1 0,44 a 22,22 0 1 1 0,-44"></path>
    </g>
  </svg>
</div>
